<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<a href="#" data-toggle="tooltip" data-placement="top" title="QQ" class="a-followsIcon">
		<img src="__PUBLIC__/images/qqicon.png">
	</a> 
	<a href="#" data-toggle="tooltip" data-placement="top" title="腾讯微博" class="a-followsIcon">
		<img src="__PUBLIC__/images/txwbicon.png">
	</a>
	<a href="#" data-toggle="tooltip" data-placement="top" title="新浪微博" class="a-followsIcon">
		<img src="__PUBLIC__/images/xlwbicon.png">
	</a>
	<a href="#" data-toggle="tooltip" data-placement="top" title="Facebook" class="a-followsIcon">
		<img src="__PUBLIC__/images/f_icon.png">
	</a> 
	<a href="#" data-toggle="tooltip" data-placement="top" title="优酷主页" class="a-followsIcon">
		<img src="__PUBLIC__/images/ykicon.png">
	</a>
	<a href="#" data-toggle="tooltip" data-placement="top" title="土豆主页" class="a-followsIcon">
		<img src="__PUBLIC__/images/tdicon.png">
	</a>
</body>
</html>