<!DOCTYPE html>
<html lang="en">
<head>
</head>
<style>
</style>
<body>
	
<footer class='main-footer' style='padding-top:20px'>
	<div class='container'>
		<!-- 分类，加入，与我们联系 -->
		<div clas='row'>
			<div class='col-md-3'>
				<img src="__PUBLIC__/images/logo.png">
			</div>

			<div class='col-md-3'>
				<div class="footer-title">
					分类
				</div>
				<!-- <h4>分类</h4> -->
				<ul class="categories">
					<li><a href="#" class="base-a"> 教学区</a>（分类构建中）</li>
					<li><a href="#" class="base-a">视频区 </a>（分类构建中）</li>
					<li><a href="#" class="base-a">品牌馆</a>（分类构建中）</li>
					<li><a href="#" class="base-a"> 购物区</a>（分类构建中）</li>
					<li><a href="#" class="base-a"> DIY</a>（分类构建中）</li>
					<li><a href="#" class="base-a">媒体资源下载 </a>（分类构建中）</li>
					<li><a href="#" class="base-a">广告业务 </a>（分类构建中）</li>
				</ul>
			</div>

			<div class='col-md-3'>
				<div class="footer-title">
					加入我们的业务通讯
				</div>
				<p>为你提供相关的业务咨询服务,欢迎您的来访</p>
				<!-- <p>欢迎您的来访</p> -->
				
				<!-- 若已经登录，就不显示登录按钮 -->
				<empty name="Think.session.username">
					<a href="{:U('Home/Login/Login/register')}" id="footer-register-link">注册</a>
				<else />
					<a href="{:U('Home/Login/Login/register')}" id="footer-register-link" style="display: none">注册</a>
				</empty>
				
			</div>

			<div class='col-md-3'>
				<div class="footer-title">
					与我们联系
				</div>
				<p>我们会第一时间为你服务</p>
				<div>
					<ul>
						<li>手机<span> :</span>18277393936</li>
						<li><span>QQ :</span>370134974|1532575484</li>
						<li><span>邮箱 :</span>370134974@qq.com</li>
						<li><span>地址 :</span>广西桂林</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

    <!-- copyright -->
	<div class='copyright'>
		<div class='container'>
			<div class='row'>
				<div class='col-md-12'>
					<span>Copyright © 2013—文峰视听. All rights reserved.</span>
				</div>
			</div>
		</div>
	</div>
</footer>

</body>
<script>
$(document).ready(function(){
	
	 $ajaxLoginUrl = "{:U('Home/Login/Login/login','','')}";  //生成 ajax login url，以便在 .js 文件中调用
	 $ajaxLogoutUrl = "{:U('Home/Login/Login/logout','','')}"; //生成 ajax logout url，以便在 .js 文件中调用
	 $ajaxRegisterUrl = "{:U('Home/Login/Login/register','','')}";  //生成 ajax register url，以便在 .js 文件中调用
	 $verifyCodeUrl = "{:U('Home/Index/Index/verifyCode','','')}";  //生成 verifyCode url，以便在 .js 文件中调用
	 $ajaxGetVideoInfo = "{:U('Home/Login/Login/getVideoInfo')}"; //获取登陆状态


});
</script>
</html>