<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>文峰视听公司简介、最新动态</title>
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Bootstrap/css/bootstrap-submenu.min.css">
	<!-- 公共css文件 -->
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/CSS/base.css">
	<script type="text/javascript" src="__PUBLIC__/BootStrap/js/jquery.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/BootStrap/js/bootStrap.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/Bootstrap/js/bootstrap-submenu.min.js"></script>
	<!-- scroll-top & submenu -->
	<script type="text/javascript" src="__PUBLIC__/JS/base.js"></script>
</head>
<style>
			

        .mediaLeft{
        	width:64px!important!;
        	height:64px!important;
        }

</style>
<body style='background-color:#666666'>
	
	<nav>
		{:W('Navigation/nav')}
	</nav>

	<main class='main'>
		<div class='container'>
			<div clas='row'>
				<div class='col-md-12'>
					<h3>关于我们</h3>
				</div>
			</div>

			<div class='row'>
				<div class='col-md-8'>
					<!-- 文峰视听门户网站经营理念 -->
					<div class='panel panel-bgcolor'>
						<div class='panel-heading panel-header-text'>
							文峰视听门户网站经营理念
						</div>
						<div class='panel-body'>
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 文峰视听主要提供远程教育，时尚生活，网上购物，文化创意的一体化平台，励志打造国内一流的信息化服务平台，提供便民的信息化渠道。网站整合了丰富的远程教育资源，在视频聚焦中，感受当下时事热点，在视频碰撞中，感受视频给我们带来的视觉感受，在视频原创中体验原创的魅力。在时尚生活中发现生活，分享生活，快乐生活。网站还提供了大型的购物门户网站及平台信息，包括购物贴士，品牌购物馆，海外购物平台及一体化流程，并为你推荐优质的购物信息，网站联合了国内大型的购物经验分享社区，为你的购物之旅提供一份很好的指南。本站同时也承接平面、视频、创意DIY、网页设计、广告等业务，期待更多平台的入驻
						</div>
					</div>

					<div class='panel panel-bgcolor'>
						<div class='panel-heading panel-header-text'>
							网站招聘
						</div>
						<div class='panel-body'>
							<p>网络营销经理 1名 （有一年以上工作经验，有丰富网络营销经验）</p>
							<p>网络推广专员 2名（具有一定的网络推广经验，会使用相关的推广软件）</p>
							<p>数据库管理员1名（熟悉数据库的管理操作，对数据挖掘有一定的了解）</p>
							<p>网页编辑  2名（熟悉网页的图文混排，对CCS样式和HTML代码有一定了解） </p>
							<p>发送简历到文峰视听的邮箱：370134974@qq.com&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 期待你的加入</p>
						</div>
					</div>	

					<h3><center><span class='label label-danger'>最新动态</span></center></h3>

					<div class='row'>
						<div class='col-md-4'>
							<div class='thumbnail'>
								<img class='inner-img' src="__PUBLIC__/images/tms.jpg">
								<div class='caption panel-bgcolor text-center'>
									<a class='panel-header-text' href="http://www.tmall.com/">天猫双十一购物狂欢节活动筹备</a>
								</div>
							</div>
						</div>

						<div class='col-md-4'>
							<div class='thumbnail'>
								<img class='inner-img' src="__PUBLIC__/images/lssjs.jpg">
								<div class='caption panel-bgcolor text-center'>
									<a class='panel-header-text' href="http://www.ceca-expo.com/">低碳、绿色、节能</a>
								</div>
							</div>
						</div>

						<div class='col-md-4'>
							<div class='thumbnail'>
								<img class='inner-img' src="__PUBLIC__/images/ktzx212.jpg">
								<div class='caption panel-bgcolor text-center'>
									<a class='panel-header-text' href="http://www.youku.com/playlist_show/id_18548919.html">文峰视听在线课堂</a>
								</div>
							</div>
						</div>

						<div class='col-md-4'>
							<div class='thumbnail'>
								<img class='inner-img' src="__PUBLIC__/images/lssh.jpg">
								<div class='caption panel-bgcolor text-center'>
									<a class='panel-header-text' href="http://gongyi.sina.com.cn/greenlife/">绿色生活</a>
								</div>
							</div>
						</div>


						<div class='col-md-4'>
							<div class='thumbnail'>
								<img class='inner-img' src="__PUBLIC__/images/ktcs.jpg">
								<div class='caption panel-bgcolor text-center'>
									<a class='panel-header-text' href="http://news.qq.com/a/20120428/000597.htm">卡通城市</a>
								</div>
							</div>
						</div>

						<div class='col-md-4'>
							<div class='thumbnail'>
								<img class='inner-img' src="__PUBLIC__/images/fdc.jpg">
								<div class='caption panel-bgcolor text-center'>
									<a class='panel-header-text' href="http://www.realestate.cei.gov.cn/">中国房产信息</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class='col-md-4'>
					<div class='panel panel-bgcolor'>
						<div class='panel-heading panel-header-text'><b>请关注我们</b>
						</div>

						<p>请点击下方的图标</p>
						<div class='row' >
							<div class='col-xs-1' >
								<a href="#"><img src="__PUBLIC__/images/qqicon.png"></a>
							</div>
							<div class='col-xs-1'>
								<a href="#"><img src="__PUBLIC__/images/txwbicon.png"></a>
							</div>
							<div class='col-xs-1'>
								<a href="#"><img src="__PUBLIC__/images/xlwbicon.png"></a>
							</div>
							<div class='col-xs-1'>
								<a href="#"><img src="__PUBLIC__/images/f_icon.png"></a>
							</div>
							<div class='col-xs-1'>
								<a href="#"><img src="__PUBLIC__/images/ykicon.png"></a>
							</div>
							<div class='col-xs-1'>
								<a href="#"><img src="__PUBLIC__/images/tdicon.png"></a>
							</div>
						</div>
					</div>

					<div class='panel panel-bgcolor'>
						<div class='panel-heading panel-header-text'>
							最新活动
						</div>
						<div class='media'>
							<div class='media-left'>
								<a href="#">
									<img src="__PUBLIC__/images/hwui.jpg" class='img-rounded mediaLeft'>
								</a>
							</div>
							<div class='media-body'>
								华为Emotion UI设计大赛
							</div>
						</div>

						<div class='media'>
							<div class='media-left'>
								<a href="#">
									<img src="__PUBLIC__/images/zgsj.jpg" class='img-rounded mediaLeft'>
								</a>
							</div>
							<div class='media-body'>
								中国设计比赛网
							</div>
						</div>

						<div class='media'>
							<div class='media-left'>
								<a href="#">
									<img src="__PUBLIC__/images/fhss.jpg" class='img-rounded mediaLeft'>
								</a>
							</div>
							<div class='media-body'>
								2014巴黎春夏时装周
							</div>
						</div>
					</div>

					<div class='panel panel-bgcolor'>
						<div class='panel-heading panel-header-text'>
							关于我们
						</div>
						<ul class='panel-header-text'>
							<li ><a class='panel-header-text' href="">公司简介</a></li>
							<li><a class='panel-header-text' href="">公司主要业务</a></li>
							<li><a class='panel-header-text' href="">公司成功案例</a></li>
							<li><a class='panel-header-text' href="">公司近期动态</a></li>
							<li><a class='panel-header-text' href="">公司招聘</a></li>
							<li><a class='panel-header-text' href="">资源下载</a></li>
						</ul>
					</div>

					<div class='panel panel-bgcolor'>
						<div class='panel-heading panel-header-text'>
							网上免责声明
						</div>
						<div class='panel-body'>
							<p><strong>第一条</strong>：当本网站以链接形式推荐其他网站内容时，本网站并不对这些网站或资源的可用性负责，且不保证从这些网站获取的任何内容、产品、服务或其他材料的真实性、合法性，对于任何因使用或信赖从此类网站或资源上获取的内容、产品、服务或其他材料而造成(或声称造成)的任何直接或间接损失，本网站均不承担任何责任。<br>
							</p>
							<p><strong>第二条</strong>当政府部门、司法机关等依照法定程序要求本网站披露个人资料时，本网站将根据执法单位之要求或为公共安全之目的提供个人资料。在此情况下之任何披露，本网站均得免责。</p>
							<p><strong>第三条</strong>除我们另有明确说明或者中国法律有强制性规定外，本网站用户原创的作品，本网站及作者共同享有版权，其他网站及传统媒体如需使用，须取得本网站的书面授权，未经授权严禁转载或用于其它商业用途。</p>
							<p><strong>第四条</strong>以上声明内容的最终解释权归文峰视听门户网站所有所有。</p>
						</div>
					</div>
				</div>

				<!-- <div class="clearfix visible-xs-block"></div> -->


				<!-- 公告栏和最新微博信息 -->
				<div class='row'>
					<div class='col-md-6'>
						<h3><center><span class='label label-danger'>公告栏</span></center></h3>
						<div class='alert panel-bgcolor alert-dismissible'>
							<p>欢迎大家来到文峰视听，网站正在建设中，后续会有更多好的资源分享给大家，想与我们平台合作的可以与我们联系，敬候您的佳音~</p>
						</div>
					</div>

					<div class='col-md-6'>
						<h3><center><span class='label label-danger'>最近微博信息</span></center></h3>

						<div class='panel panel-bgcolor'>
							<div class='media'>
								<div class='media-left'>
									<a href="">
										<img src="__PUBLIC__/images/xlwbicon.png">
									</a>
								</div>
								<div class='media-body'>
									<p>载入微博，了解更多微博动态</p>
								</div>
							</div>
						</div>
					</div>
				</div>

				
			</div>
		</div>
	</main>

<footer>
	{:W('Footer/footer')}
</footer>

</body>
<script>

</script>
</html>