<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Bootstrap/css/bootstrap-submenu.min.css">
	<script type="text/javascript" src="__PUBLIC__/BootStrap/js/jquery.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/BootStrap/js/bootStrap.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/Bootstrap/js/bootstrap-submenu.min.js"></script>
</head>
<style>
			.top{
			cursor:pointer;
			width:30px;
			height:30px;
			background:#000;
			border-radius:5px;
			color:#fff;
			line-height:30px;
			text-align:center;
			font-size:20px;
			position:fixed;
			right:30px;
			bottom:20px;
		}

		.top:hover{
			opacity:0.7;
		}

        .copyright{
        	font-size:13px;
        	text-align:center;
        	color:#555;
        	margin-top: 15px;
        	margin-bottom:15px;
        }

        .mediaLeft{
        	width:64px!important!;
        	height:64px!important;
        }

</style>
<body>
	<div class="header">
		<div class='container'>
			<div class='row'>
				<div class="col-md-4 col-md-offset-8">
					邮箱: <a href="#">370134974.com</a> |&nbsp; ■■■<a href="javascript:window.external.addFavorite('http://www.wfstin.net','文峰视听')">收藏本站</a>■■■<a href="#" onClick="this.style.behavior='url(#default#homepage)';this.setHomePage('http://www.wfstin.com/')">设为主页</a>
				</div>
			</div>

			<div class='row'>
				<div class='col-md-12'>
					<nav class="navbar navbar-inverse">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mynavbar">
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
							<a class="navbar-brand" href="#">
								<img src="__PUBLIC__/images/logo.png">
							</a>
						</div>

						<div class="collapse navbar-collapse" id="mynavbar" >
							<ul class="nav navbar-nav navbar-right">
								<li><a href="">主页</a></li>
								<li><a href="">关于我们</a></li>
								<li class="dropdown">
									<a href="" calss="dropdown-toggle" data-toggle="dropdown">
										<span>视频<span class="caret"></span></span>
									</a>
									<ul class="dropdown-menu">
										<li><a href="">视频教学</a></li>
										<li><a href="">视频聚焦</a></li>
										<li><a href="">视频对对碰</a></li>
										<li><a href="">视频原创</a></li>
										<li><a href="">视频门户网站</a></li>
									</ul>
								</li>
								<li class='dropdown'>
									<a href="" class='dropdown-toogle' data-toggle='dropdown'>
										<span>时尚生活馆<span class="caret"></span></span>
									</a>
									<ul class="dropdown-menu">
										<li><a href="">博文推荐</a></li>
										<li><a href="">时尚生活网址大全</a></li>
									</ul>
								</li>

								<li class="dropdown">
									<a href="" class="dropdown-toggle" data-toggle="dropdown" data-submenu="">
										<span>购物<span class="caret"></span></span>
									</a>
									<ul class="dropdown-menu">
										<li><a href="">购物门户网站</a></li>
										<li><a href="">购物贴士</a></li>
										<li><a href="">品牌入驻中</a></li>
										<li><a href="">海外购物</a></li>
										<li><a href="">购物推荐</a></li>
										<li><a href="">购物经验分享</a></li>
										<li class="dropdown-submenu" >
											<a href="">
												<span>构建中</span>
											</a>
											<ul class="dropdown-menu">
												<li><a href="">构建中</a></li>
												<li><a href="">构建中</a></li>
												<li><a href="">构建中</a></li>
												<li><a href="">构建中</a></li>
												<li><a href="">构建中</a></li>
											</ul>

										</li>
									</ul>
								</li>
								<li><a href="">在线互动</a></li>
							</ul>
						</div>
					</nav>
				</div>
			</div>
		</div>
	</div>

<main class='main'>
	<div class='container'>
		<div clas='row'>
			<div class='col-md-12'>
				<h3>时尚生活网址大全</h3>
			</div>
		</div>

		<div class='row'>
			<div class='col-md-8'>
				<!-- 文峰视听门户网站经营理念 -->
				<div class='row'>
					<div class='col-md-6'>
						<div class='panel panel-info'>
							<div class='panel panel-heading'>
								<a href="">肌肤秋季“解渴”补水7步骤</a> 
							</div>
							<div class='panel panel-body'>
								<img src="__PUBLIC__/images/mivj.jpg" width='322px' height='287'>
								<div class='row'>
									<div class='col-xs-2'>
										<a href="">sjldjflj</a>
										<span>sdjflj</span>
									</div>
									<div class='col-xs-10'>
										<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 秋天的干燥着实让人无奈，再加上很多办公室一族要每天面对电脑的辐射，让干燥加倍，我们的皮肤每天这样下去不堪重负，于是皮肤越来越差，皮肤干快补水，下面时尚生活网小编教你正确补水7个步骤，让补水变简单轻松。</p>
										<p><strong> &nbsp;&nbsp;&nbsp;&nbsp; 一、早晚两杯白开水</strong></p>
										　&nbsp;&nbsp;&nbsp;&nbsp; 由于女人的代谢比男人要慢，消耗也比男人要低，女人往往比男人喝水要少，这就会使身体和皮肤的问题同时出现。<br>
										　　女人要做的是，至少早晚各一杯白开水。早上的一杯可以清洁肠道。补充夜间失去的水分，晚上的一杯则能保证一夜之间血液不至于因缺水而过于黏稠。血液黏稠会加快大脑的缺氧、色素的沉积，使衰老提前来临。因此，每晚饮水的作用不能低估。<br>
										<br>
										<strong>&nbsp;&nbsp;&nbsp;&nbsp; 二、一个西红柿</strong><br>
										<br>
										　　在水果和蔬菜中，西红柿是维生素C含量最高的一种，所以每天至少保证一个西红柿，可以满足一天所需的维生素C。<br>
										<br>
										<strong>&nbsp;&nbsp;&nbsp;&nbsp; 三、一杯醋<br>
										</strong><br>
										　　女人还是有点&ldquo;醋意&rdquo;的好。每日三餐中食用醋可以延缓血管硬化的发生，已经是重复多次的保健常识，对于女人来说，除了饮食之外，在化妆台上加一瓶醋，每次在洗手之后先敷一层醋，保留20分钟后再洗掉，可以使手部的皮肤柔白细嫩。如果你住地的自来水水质较硬，可以在每天的洗脸水中稍微放一点醋，就能起到养颜的作用。<br>
										<br>
										<strong>&nbsp;&nbsp;&nbsp;&nbsp; 四、一杯酸奶</strong><br>
										<p>　　从补钙角度看，女人是最容易缺钙的一个群体，而牛奶的补钙效果优于任何一种食物，特别是酸奶，更容易被人体吸收，所以，女人应每天保证一杯酸奶。</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class='col-md-6'>
						<div class='panel panel-info'>
							<div class='panel panel-heading'>
								<a href="">旅途中的自拍术 美景美颜全都要</a> 
							</div>
							<div class='panel panel-body'>
								<img src="__PUBLIC__/images/meinv1.jpg" width='322px' height='287'>
								<div class='row'>
									<div class='col-xs-2'>
										<a href="">sjldjflj</a>
										<span>sdjflj</span>
									</div>
									<div class='col-xs-10'>
										<p>&nbsp;&nbsp;   &nbsp;&nbsp;  &nbsp; 什么，自拍神器不能拍风景？你太小看这些神器了吧。现代的高科技。令到这些貌似只擅长美白磨皮、去黑眼圈痘痘、瘦身又瘦脸的自拍相机们，不仅在哄女孩子上法力强大，更搭载了某些不输给单反的性能：25mm大广角、夜间拍摄ISO25600、可以流星的延时摄影...下面就针对最受MM欢迎的3个旅游目的地，看看都有哪些自拍相机能够应对时尚之都巴黎 裙抉飘飘靠CASIO</p>
										<p>　　花都巴黎，连Queen B都把它当作是唯一的Dream City...可是，飞了10来个钟头后的你，不仅容易皮肤干燥满脸长痘，更有可能面庞肿泡泡哦，连出席时装周的幂幂冰冰们都被曝出高清镜头下盖也盖不住、必须PS的痘痘黑眼圈，你又怎能不备款CASIO家自拍神器来随时武装自己？<br>
										</p>
										<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; CASIO ZR1200延续了卡西欧家族一向善待MM的特质，不仅像TR系列一样，具备12级别美颜模式，令你能够实现瞬间美颜，即使不化妆，气色、肤质都能呈现最佳状态。而它搭载的、一般只有单反才具备的延时摄影功能，更能记录下凯旋门上流动的白云和浪漫流淌的塞纳河水。<br>
											&nbsp;   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 来到香港，当然就是吃东西买东西吃东西买东西。从何洪记的正斗鲜虾净云吞，到蛇王芬的招牌美颜蛇羹，再到糖朝甜品的杨枝甘露做夜宵，更别忘记去大牌荟萃的The ONE、海港城以及刚打进大中华区的TOPSHOP扫货...夜半10点多，仍然兴奋得没逛够？那怎能错过城中最热门的BeiJing Club、Magnum等夜店，这里不仅有可能遇到TVB当家花旦，更有可能和香港富二代们同桌拼酒哦~~Yeah~~<br>
											&nbsp;    &nbsp;&nbsp;&nbsp;&nbsp;   &nbsp;  &nbsp; 这么精彩的夜生活，能么能不炫出来？所以，随身带一台比IPHONE还小的自拍相机才是王道。就是尼康最新出品的这款COOLPIX S6600，它不仅有着25mm广角，不会错过维多利亚湾的无敌夜景；更有着ISO 3200的高感光度，即使在昏暗的酒吧内一样能拍出色彩缤纷的影像；最重要的是，它的美颜修饰功能能瞬间帮你去眼袋黑眼圈调红脸颊，还能通过自带的Wi-Fi功能帮你把美美的照片瞬间传到手机上，然后就可以上微博晒自拍啦~<br>
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

 				

 				

 				<nav aria-label='Page navigation'>
 					<ul class='pagination'>
 							<li>
 								<a href="#" aria-label='Previous'>
 									<span aria-hidden='true'>&laquo;</span>
 								</a>
 							</li>
 							<li><a href="#">1</a></li>
 							<li><a href="#">2</a></li>
 							<li><a href="#">3</a></li>
 							<li><a href="#">4</a></li>
 							<li><a href="#">5</a></li>
 							<li>
 								<a href="#" aria-label='Next'>
 									<span aria-hidden='true'>&raquo;</span>
 								</a>
 							</li>
 					</ul>
 				</nav>
 				</div>

			<div class='col-md-4'>
				<div class='panel panel-success'>
					<div class='panel-heading'><b>请关注我们</b>
					</div>

					<p>请点击下方的图标</p>
					<div class='row' >
						<div class='col-xs-1' >
							<a href="#"><img src="__PUBLIC__/images/qqicon.png"></a>
						</div>
						<div class='col-xs-1'>
							<a href="#"><img src="__PUBLIC__/images/txwbicon.png"></a>
						</div>
						<div class='col-xs-1'>
							<a href="#"><img src="__PUBLIC__/images/xlwbicon.png"></a>
						</div>
						<div class='col-xs-1'>
							<a href="#"><img src="__PUBLIC__/images/f_icon.png"></a>
						</div>
						<div class='col-xs-1'>
							<a href="#"><img src="__PUBLIC__/images/ykicon.png"></a>
						</div>
						<div class='col-xs-1'>
							<a href="#"><img src="__PUBLIC__/images/tdicon.png"></a>
						</div>
					</div>
				</div>

				<div class='panel panel-default'>
					<div class='panel-heading'>
						近期博文
					</div>
					<div class='media'>
						<div class='media-left'>
							<a href="#">
							<img src="__PUBLIC__/images/boke.jpg" class='mediaLeft'>
							</a>
						</div>
						<div class='media-body'>
							高二女孩一周戴5块表是贵养还是溺爱？
						</div>
					</div>

					<div class='media'>
						<div class='media-left'>
							<a href="#">
							<img src="__PUBLIC__/images/boke.jpg" class='mediaLeft'>
							</a>
						</div>
						<div class='media-body'>
							骗婚是上海男屌丝的唯一出路
						</div>
					</div>

					<div class='media'>
						<div class='media-left'>
							<a href="#">
							<img src="__PUBLIC__/images/boke.jpg" class='mediaLeft'>
							</a>
						</div>
						<div class='media-body'>
							让女人羞愤的性爱菜单：爱人这些要求变态吗
						</div>
					</div>
				</div>

                <div class='panel panel-info'>
                	<div class='panel-heading'>
                		中国知名博客网站
                	</div>
                	<ul>
                		<li><a href="">新浪博客</a></li>
                		<li><a href="">blogcn</a></li>
                		<li><a href="">中国博客网</a></li>
                		<li><a href="">腾讯博客</a></li>
                		<li><a href="">凤凰博客</a></li>
                		<li><a href="">天涯博客</a></li>
                	</ul>
                </div>

                <div class='panel panel-info'>
                	<div class='panel-heading'>
                		博客公示栏
                	</div>
                	<div class='panel-body'>
                		欢迎走进博客专栏
                	</div>
                </div>
		</div>
        
        <!-- <div class="clearfix visible-xs-block"></div> -->


        


		<div class='col-md-1'>
			<div class='top'>
                <span class='glyphicon glyphicon-menu-up'></span>
			</div>
		</div>
		
	</div>
</main>

<footer class='main-footer'>
	<div class='container'>
		<!-- 分类，加入，与我们联系 -->
		<div clas='row'>
			<div class='col-md-3'>
				<img class='thumbnail' src="__PUBLIC__/images/logo.png">
			</div>

			<div class='col-md-3'>
				<h3>分类</h3>
				<ul class="categories">
					<li><a href="#"> 教学区</a>（分类构建中）</li>
					<li><a href="#">视频区 </a>（分类构建中）</li>
					<li><a href="#">品牌馆</a>（分类构建中）</li>
					<li><a href="#"> 购物区</a>（分类构建中）</li>
					<li><a href="#"> DIY</a>（分类构建中）</li>
					<li><a href="#">媒体资源下载 </a>（分类构建中）</li>
					<li><a href="#">广告业务 </a>（分类构建中）</li>
				</ul>
			</div>

			<div class='col-md-3'>
				<h3>加入我们的业务通讯</h3>
				<p>为你提供相关的业务咨询服务</p>
				<p>欢迎您的来访</p>
				<div class='form-group'>
					<input type='text' class='form-control'>
				</div>
				<button type='submit' class='btn btn-primary'>现在加入</button>
			</div>

			<div class='col-md-3'>
				<h3>与我们联系</h3>
				<p>我们会第一时间为你服务</p>
				<div>
					<ul>
						<li></li>
						<li></li>
						<li></li>
						<li></li>
						<li></li>
						<li>手机<span> :</span>18277393936</li>
						<li><span>QQ :</span>370134974|1532575484</li>
						<li><span>邮箱 :</span>370134974@qq.com</li>
						<li><span>地址 :</span>广西桂林</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

    <!-- copyright -->
	<div class='copyright'>
		<div class='container'>
			<div class='row'>
				<div class='col-md-12'>
					<span>Copyright © 2013—文峰视听. All rights reserved.</span>
				</div>
			</div>
		</div>
	</div>
</footer>

</body>
<script>
$(window).scroll(function(){
		$('.top').show();
		if($(window).scrollTop()<100){
			$('.top').hide();
		}
});

$('.top').click(function(){
	$(window).scrollTop(0);

});

$(function () {
   $('[data-submenu]').submenupicker();
});
</script>
</html>