<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>品牌馆</title>
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Bootstrap/css/bootstrap-submenu.min.css">
	<!-- 公共css文件 -->
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/CSS/base.css">
	<script type="text/javascript" src="__PUBLIC__/BootStrap/js/jquery.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/BootStrap/js/bootStrap.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/Bootstrap/js/bootstrap-submenu.min.js"></script>
	<!-- scroll-top & submenu -->
	<script type="text/javascript" src="__PUBLIC__/JS/base.js"></script>
</head>
<style>
			

</style>
<body>
	<nav>
		{:W('Navigation/nav')}
	</nav>

	<main class='main'>
		<div class='container'>
			<div clas='row'>
				<div class='col-md-12'>
					<h3>品牌馆</h3>
				</div>
			</div>

			<div class='row'>
				<div class='col-md-2'>
					<!-- 文峰视听门户网站经营理念 -->
					<h4 class='panel-header-text'>品牌门户网站</h4>
					<ul class='nav-left-list'>
						<li><a href="#">品牌门户网站</a></li>
						<li><a href="#">品牌门户网站</a></li>
						<li><a href="#">品牌门户网站</a></li>
						<li><a href="#">品牌门户网站</a></li>
						<li><a href="#">品牌门户网站</a></li>
						<li><a href="#">品牌门户网站</a></li>
					</ul>
				</div>

				<div class='col-md-10'>
					<div class='panel panel-bgcolor'>
						<div class='panel-heading panel-header-text'>
							<h3><b>品牌分类</b></h3>
						</div>
						<div class='panel-body'>
							<a class='btn btn-primary' href="">F</a>
							<a class='btn btn-danger' href="">M</a>
							<a class='btn btn-info' href="">Y</a>
							<a class='btn btn-success' href="">G</a>
							<a class='btn btn-warning' href="">K</a>
						</div>
					</div>
                    
					<div class='col-md-10'>
						<div class='panel panel-bgcolor'>
							<div class='panel-heading panel-header-text'>
								<h4>构建中</h4>
							</div>
							<div class='panel-body'>
								<table class='table table-bordered'>
									<tr class='success'>
										<th>栏目一</th>
										<th>栏目二</th>
										<th>栏目三</th>
										<th>栏目四</th>
									</tr>
									<tr>
										<td>品牌名称 1</td>
										<td>品牌名称 2</td>
										<td>品牌名称 3</td>
										<td>品牌名称 4</td>
									</tr>
									<tr>
										<td>品牌名称 1</td>
										<td>品牌名称 2</td>
										<td>品牌名称 3</td>
										<td>品牌名称 4</td>
									</tr>
									<tr>
										<td>品牌名称 1</td>
										<td>品牌名称 2</td>
										<td>品牌名称 3</td>
										<td>品牌名称 4</td>
									</tr>
								</table>
							</div>
						</div>

						<div class='panel panel-bgcolor'>
							<div class='panel-heading panel-header-text'>
								<h4>构建中</h4>
							</div>
							<div class='panel-body'>
								<table class='table table-bordered'>
									<tr class='warning'>
										<th>栏目一</th>
										<th>栏目二</th>
										<th>栏目三</th>
										<th>栏目四</th>
									</tr>
									<tr>
										<td>品牌名称 1</td>
										<td>品牌名称 2</td>
										<td>品牌名称 3</td>
										<td>品牌名称 4</td>
									</tr>
									<tr>
										<td>品牌名称 1</td>
										<td>品牌名称 2</td>
										<td>品牌名称 3</td>
										<td>品牌名称 4</td>
									</tr>
									<tr>
										<td>品牌名称 1</td>
										<td>品牌名称 2</td>
										<td>品牌名称 3</td>
										<td>品牌名称 4</td>
									</tr>
								</table>
							</div>
						</div>

						<div class='panel panel-bgcolor'>
							<div class='panel-heading panel-header-text'>
								<h4>构建中</h4>
							</div>
							<div class='panel-body'>
								<table class='table table-bordered'>
									<tr class='danger'>
										<th>栏目一</th>
										<th>栏目二</th>
										<th>栏目三</th>
										<th>栏目四</th>
									</tr>
									<tr>
										<td>品牌名称 1</td>
										<td>品牌名称 2</td>
										<td>品牌名称 3</td>
										<td>品牌名称 4</td>
									</tr>
									<tr>
										<td>品牌名称 1</td>
										<td>品牌名称 2</td>
										<td>品牌名称 3</td>
										<td>品牌名称 4</td>
									</tr>
									<tr>
										<td>品牌名称 1</td>
										<td>品牌名称 2</td>
										<td>品牌名称 3</td>
										<td>品牌名称 4</td>
									</tr>
								</table>
							</div>
						</div>

					</div>
				</div>
			</div>

				
			</div>
	</main>

    <footer>
    	{:W('Footer/footer')}
    </footer>

</body>
<script>

</script>
</html>