<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>文峰视听在线互动</title>
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Bootstrap/css/bootstrap-submenu.min.css">
	<!-- 公共css文件 -->
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/CSS/base.css">
	<!-- 引入本页面css样式 -->
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/CSS/contact.css">
	<script type="text/javascript" src="__PUBLIC__/BootStrap/js/jquery.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/BootStrap/js/bootStrap.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/Bootstrap/js/bootstrap-submenu.min.js"></script>
	<!-- scroll-top & submenu -->
	<script type="text/javascript" src="__PUBLIC__/JS/base.js"></script>
</head>
<style>

        .addComment{
        	position:relative;
        	padding-top: 10px;
        }

</style>
<body>
	<nav>
		{:W('Navigation/nav')}
	</nav>

	<main class='main'>
		<div class='container'>
			<div clas='row'>
				<div class='col-md-12 panel-header-text'>
					<h3>在线互动</h3>
				</div>
			</div>

			<div class='row'>
				<div class='col-md-8'>
					<!-- 文峰视听门户网站经营理念 -->
					<div class='panel panel-bgcolor'>
						
						<div class='panel-body'>
							<iframe width="100%" scrolling="no" height="310" frameborder="0" class="map" marginheight="0" marginwidth="0" src="http://map.baidu.com/"></iframe>
						</div>
					</div>

					

					<div class='addComment'>
						<h4><center>互动交流</center></h4>
						<form action='' class='form-horizontal'>
							<div class='form-group'>
								<label class='control-label col-md-3' for='name'>你的姓名</label>
								<div class='col-md-5'>
									<input type="text" class='form-control' id='name' name="name">
								</div>
							</div>

							<div class='form-group'>
								<label class='control-label col-md-3' for='email'>你的邮箱</label>
								<div class='col-md-5'>
									<input type="text" class='form-control' id='email' name="email">
								</div>
							</div>

							<div class='form-group'>
								<label class='control-label col-md-3' for='phone'>你的手机</label>
								<div class='col-md-5'>
									<input type="text" class='form-control' id='phone' name="phone">
								</div>
							</div>

							<div class='form-group'>
								<label class='control-label col-md-3' for='comment'>你的评价</label>
								<div class='col-md-8'>
									<textarea class='form-control' id='comment' rows='5' name='comment'></textarea>
								</div>
							</div>
							<div class='form-group'>
								<div class='col-md-offset-4'>
									<button type='submit' class='btn btn-primary'>提交</button>&nbsp;
									<button type='reset' class='btn btn-danger'>取消</button>
								</div>
							</div>
							
						</form>
					</div>

				</div>

				<div class='col-md-4'>
					<div class='panel panel-bgcolor'>
						<div class='panel-heading panel-header-text'><b>请关注我们</b>
						</div>

						<p>请点击下方的图标</p>
						<div class='row' >
							<div class='col-xs-1' >
								<a href="#"><img src="__PUBLIC__/images/qqicon.png"></a>
							</div>
							<div class='col-xs-1'>
								<a href="#"><img src="__PUBLIC__/images/txwbicon.png"></a>
							</div>
							<div class='col-xs-1'>
								<a href="#"><img src="__PUBLIC__/images/xlwbicon.png"></a>
							</div>
							<div class='col-xs-1'>
								<a href="#"><img src="__PUBLIC__/images/f_icon.png"></a>
							</div>
							<div class='col-xs-1'>
								<a href="#"><img src="__PUBLIC__/images/ykicon.png"></a>
							</div>
							<div class='col-xs-1'>
								<a href="#"><img src="__PUBLIC__/images/tdicon.png"></a>
							</div>
						</div>
					</div>

					<div class='panel panel-bgcolor'>
						<div class='panel-heading panel-header-text'>
							办公联系方式
						</div>
						<ul class='panel-header-text'>
							<li>手机：18277393936</li>
							<li>QQ：370134974</li>
							<li><a class='panel-header-text' href="">370134974@qq.com</a></li>
							<li><a class='panel-header-text' href="">http://wfstin.com</a></li>
						</ul>
					</div>

					

					<div class='panel panel-bgcolor'>
						<div class='panel-heading panel-header-text'>
							办公时间
						</div>
						<div class='panel-body panel-header-text'>
							<p>上午：10：00—晚上：21:00</p>
                            <p>周六、周日、节假日休假</p>
						</div>
					</div>
				</div>
				
				
			</div>
		</div>
	</main>

    <footer>
    	{:W('Footer/footer')}
    </footer>

</body>
<script>

</script>
</html>