<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>视频门户网站</title>
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Bootstrap/css/bootstrap-submenu.min.css">
	<!-- 公共css文件 -->
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/CSS/base.css">
	<script type="text/javascript" src="__PUBLIC__/BootStrap/js/jquery.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/BootStrap/js/bootStrap.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/Bootstrap/js/bootstrap-submenu.min.js"></script>
	<!-- scroll-top & submenu -->
	<script type="text/javascript" src="__PUBLIC__/JS/base.js"></script>
</head>
<style>

        .media{
        	padding:20px;
        	margin: 20px;
        }

</style>
<body>
	<nav>
		{:W('Navigation/nav')}
	</nav>

	<main class='main'>
		<div class='container'>
			<div class='row'>
				<div class='col-md-12'>
					<h3 class='panel-header-text'>视频门户网站</h3>
				</div>
			</div>

			<div class='col-md-12'>
				<div class='media'>
					<div class='media-left'>
						<a href="">
							<img src="__PUBLIC__/images/hshys.jpg" class='img-rounded' style='width:452px; height:287px'>
						</a>
					</div>
					<div class='media-body panel-header-text'>
						<h4>文峰视听在线课堂</h4>
						<ul>
							<li>在线课堂链接</li>
							<li><a class='panel-header-text' href="">http://www.youku.com/playlist_show/id_18548919.html</a></li>
						</ul>
					</div>
				</div>
			</div>

			<div class='row'>
				<div class="col-md-12">
					<h3><center><span class='label label-danger'>视频门户网站点击进入</span></center></h3>
				</div>
			</div>
				
            
 			<div class='row'>
 				<div class='col-md-3'>
 					<div class='thumbnail'>
 						<img src="__PUBLIC__/images/youkub.jpg" style='width:252.5;height:155.38px'>
 						<div class='caption text-center panel-bgcolor'>
 							<a class='panel-header-text' href="">YOUKU优酷</a> 
 						</div>
 					</div>
 					
 				</div>

 				<div class='col-md-3'>
 					<div class='thumbnail'>
 						<img src="__PUBLIC__/images/aqyb.jpg">
 						<div class='caption text-center panel-bgcolor'>
 							<a class='panel-header-text' href="">爱奇艺</a> 
 						</div>
 					</div>
 					
 				</div>

 				<div class='col-md-3'>
 					<div class='thumbnail'>
 						<img src="__PUBLIC__/images/txb.jpg">
 						<div class='caption text-center panel-bgcolor'>
 							<a class='panel-header-text' href="">腾讯视频</a> 
 						</div>
 					</div>
 					
 				</div>

 				<div class='col-md-3'>
 					<div class='thumbnail'>
 						<img src="__PUBLIC__/images/wyspb.jpg">
 						<div class='caption text-center panel-bgcolor'>
 							<a class='panel-header-text' href="">网易视频</a> 
 						</div>
 					</div>
 				</div>
 			</div>

			
			</div>
	</main>

    <footer>
    	{:W('Footer/footer')}
    </footer>

</body>
<script>

</script>
</html>