<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>视频教学</title>
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Bootstrap/css/bootstrap-submenu.min.css">
	<!-- 公共css文件 -->
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/CSS/base.css">
	<script type="text/javascript" src="__PUBLIC__/BootStrap/js/jquery.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/BootStrap/js/bootStrap.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/Bootstrap/js/bootstrap-submenu.min.js"></script>
	<!-- scroll-top & submenu -->
	<script type="text/javascript" src="__PUBLIC__/JS/base.js"></script>
</head>
<style>
		

        .mediaLeft{
        	width:64px!important!;
        	height:64px!important;
        }

       
</style>
<body>
	<nav>
		{:W('Navigation/nav')}
	</nav>

	<main class='main'>
		<div class='container'>
			<div clas='row'>
				<div class='col-md-12 page-title'>
					<h3>视频教学</h3>
				</div>
			</div>

			<div class='row'>
				<div class='col-md-8'>
					<!-- 文峰视听门户网站经营理念 -->
					

					<div class='row new-media'>
						<div class='col-md-5'>
							<a href="">
								<img src="__PUBLIC__/images/ktzx520.jpg" class='new-media-img img-rounded'>
							</a>
						</div>

						<div class='col-md-7'>
							<a class='base-a vedio-title' href="#">文峰视听在线课堂</a>
							<p>文峰视听在线课堂主要教授平面设计、影视后期、3D、网页设计相关的课程，励志培养更多的创意设计人才</p>
						</div>
					</div>

					<div class='row new-media'>
						<div class='col-md-5'>
							<a href="">
								<img src="__PUBLIC__/images/wygkk1.jpg" class='new-media-img img-rounded'>
							</a>
						</div>

						<div class='col-md-7'>
							<a class='base-a vedio-title' href="#">网易公开课</a>
                            <p>网易正式推出&ldquo;全球名校视频公开课项目&rdquo; ，首批1200集课程上线，其中有200多集配有中文字幕。用户可以在线免费观看来自于<a target="_blank" href="http://baike.baidu.com/view/10504.htm">哈佛大学</a>等世界级名校的公开课课程，内容涵盖人文、社会、艺术、金融等领域。 网易公开课，力求为爱学习的网友创造一个公开的免费课程平台，借此向外界公开招聘兼职字幕翻译。网易公开课翻译平台目的是秉承互联网精神：开放、平等、协作、分享，让知识无国界！</p>
						</div>
					</div>

					<div class='row new-media'>
						<div class='col-md-5'>
							<a href="">
								<img src="__PUBLIC__/images/aqyjy1.jpg" class='new-media-img img-rounded'>
							</a>
						</div>

						<div class='col-md-7'>
							<a class='base-a vedio-title' href="#">爱奇艺教育官方</a>
                            <p>爱奇艺教育频道汇集国内外名校的优质课程，具备高端气质，高品质专题水准，致力于传递正面积极的力量，是国内互联网最严肃、最专业、最有实力的视频教育平台。</p>
						</div>
					</div>

                    
                    <div class='row new-media'>
						<div class='col-md-5'>
							<a href="">
								<img src="__PUBLIC__/images/xdfzx1.jpg" class='new-media-img img-rounded'>
							</a>
						</div>

						<div class='col-md-7'>
							<a class='base-a vedio-title' href="#">新东方在线</a>
                            <p>新东方在线是由新东方集团全资创办，提供出国留学、考研培训、英语培训和职业教育培训的综合网络教育培训机构，依托强大的新东方师资力量与教学资源，拥有最先进的教学内容开发与制作团队，致力于为广大用户提供个性化、互动化、智能化的卓越在线学习体验。 新东方旗下，考研、英语四级、英语六级、职称英语、托福、雅思、中考、高考学习课程，与名师交流，共同学习进步。&nbsp;</p>
						</div>
					</div>
					

					


					
					<div class='col-md-12'>
						<nav aria-label='Page navigation'>
							<ul class='pagination'>
								<li>
									<a href="#" aria-label='Previous'>
										<span aria-hidden='true'>&laquo;</span>
									</a>
								</li>
								<li><a href="#">1</a></li>
								<li><a href="#">2</a></li>
								<li><a href="#">3</a></li>
								<li><a href="#">4</a></li>
								<li><a href="#">5</a></li>
								<li>
									<a href="#" aria-label='Next'>
										<span aria-hidden='true'>&raquo;</span>
									</a>
								</li>
							</ul>
						</nav>
					</div>
				</div>

				<div class='col-md-4'>
					<div class='panel panel-bgcolor'>
						<div class='panel-heading sub-title'>
							请关注我们
						</div>
						<div class="panel-body">
							<p>请点击下方的图标</p>
							<div class='row' >
								<div class='col-xs-1' >
									<a href="#"><img src="__PUBLIC__/images/qqicon.png"></a>
								</div>
								<div class='col-xs-1'>
									<a href="#"><img src="__PUBLIC__/images/txwbicon.png"></a>
								</div>
								<div class='col-xs-1'>
									<a href="#"><img src="__PUBLIC__/images/xlwbicon.png"></a>
								</div>
								<div class='col-xs-1'>
									<a href="#"><img src="__PUBLIC__/images/f_icon.png"></a>
								</div>
								<div class='col-xs-1'>
									<a href="#"><img src="__PUBLIC__/images/ykicon.png"></a>
								</div>
								<div class='col-xs-1'>
									<a href="#"><img src="__PUBLIC__/images/tdicon.png"></a>
								</div>
							</div>
						</div>
					</div>

					<div class='panel panel-bgcolor'>
						<div class='panel-heading panel-header-text'>
							知名教育集团
						</div>
						<div class="panel-body">
							<div class='media'>
								<div class='media-left'>
									<a href="#">
										<img src="__PUBLIC__/images/zgwl.jpg" class='mediaLeft img-rounded'>
									</a>
								</div>
								<div class='media-body'>
									<a class="base-a" href="#">中国网络教育集团</a>
								</div>
							</div>

							<div class='media'>
								<div class='media-left'>
									<a href="#">
										<img src="__PUBLIC__/images/101yc.jpg" class='mediaLeft img-rounded'>
									</a>
								</div>
								<div class='media-body'>
									<a class="base-a" href="#">101远程教育网</a>
								</div>
							</div>

							<div class='media'>
								<div class='media-left'>
									<a href="#">
										<img src="__PUBLIC__/images/hqwx.jpg" class='mediaLeft img-rounded'>
									</a>
								</div>
								<div class='media-body'>
									<a class="base-a" href="#">环球网校</a>
								</div>
							</div>
						</div>
					</div>

					<div class='panel panel-bgcolor'>
						<div class='panel-heading sub-title'>
							教学导航
						</div>
						<div class="panel-body">
							<ul class='panel-header-text'>
								<li><a class='a-wh-og' href="#">最近动态</a></li>
								<li><a class='a-wh-og' href="#">教育资讯</a></li>
								<li><a class='a-wh-og' href="#">课程推荐</a></li>
								<li><a class='a-wh-og' href="#">友情链接</a></li>
								<li><a class='a-wh-og' href="#">学员在线</a></li>
								<li><a class='a-wh-og' href="#">资源下载</a></li>
							</ul>
						</div>
					</div>

					<div class='panel panel-bgcolor'>
						<div class='panel-heading sub-title'>
							温馨提示
						</div>
						<div class='panel-body'>
							<p>未经本网站允许，禁止将本站的原创教学视频在其它网络传播用作它途，原创版权归文峰视听门户网站所有。谢谢您的合作！</p>
						</div>
					</div>
				</div>
				
				
			</div>
		</div>
	</main>

    <footer>
    	{:W('Footer/footer')}
    </footer>

</body>
<script>

</script>
</html>