<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<div class='header'>
		<div class='container'>
			<div class='row'>
				<div class="col-md-4 col-md-offset-8">
					邮箱: 
					<a class="panel-header-text" href="#">370134974.com</a> |&nbsp; ■■■
					<a class="panel-header-text" href="javascript:window.external.addFavorite('http://www.wfstin.net','文峰视听')" >收藏本站</a>■■■
					<a class="panel-header-text" href="#" onClick="this.style.behavior='url(#default#homepage)';this.setHomePage('http://www.wfstin.com/')">设为主页</a>
				</div>
			</div>

			
			<div class='row'>
				<div class='col-md-12'>
					<nav class="navbar navbar-inverse navbar-fixed-top">
						<div class='container'>
							<div class="navbar-header">
								<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mynavbar">
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
								</button>
								<a class="navbar-brand" href="#">
									<img src="__PUBLIC__/images/logo2.png" width="50px">
								</a>
							</div>

							<div class="collapse navbar-collapse" id="mynavbar" >
								<ul class="nav navbar-nav navbar-right">
									<li><a href="">主页</a></li>
									<li><a href="{:U('about')}">关于我们</a></li>
									<li class="dropdown">
										<a href="" calss="dropdown-toggle" data-toggle="dropdown">
											<span>视频<span class="caret"></span></span>
										</a>
										<ul class="dropdown-menu">
											<li><a href="">视频教学</a></li>
											<li><a href="">视频聚焦</a></li>
											<li><a href="">视频对对碰</a></li>
											<li><a href="">视频原创</a></li>
											<li><a href="">视频门户网站</a></li>
										</ul>
									</li>
									<li class='dropdown'>
										<a href="" class='dropdown-toogle' data-toggle='dropdown'>
											<span>时尚生活馆<span class="caret"></span></span>
										</a>
										<ul class="dropdown-menu">
											<li><a href="">博文推荐</a></li>
											<li><a href="">时尚生活网址大全</a></li>
										</ul>
									</li>

									<li class="dropdown">
										<a href="" class="dropdown-toggle" data-toggle="dropdown" data-submenu="">
											<span>购物<span class="caret"></span></span>
										</a>
										<ul class="dropdown-menu">
											<li><a href="">购物门户网站</a></li>
											<li><a href="">购物贴士</a></li>
											<li><a href="">品牌入驻中</a></li>
											<li><a href="">海外购物</a></li>
											<li><a href="">购物推荐</a></li>
											<li><a href="">购物经验分享</a></li>
											<li class="dropdown-submenu" >
												<a href="">
													<span>构建中</span>
												</a>
												<ul class="dropdown-menu">
													<li><a href="">构建中</a></li>
													<li><a href="">构建中</a></li>
													<li><a href="">构建中</a></li>
													<li><a href="">构建中</a></li>
													<li><a href="">构建中</a></li>
												</ul>

											</li>
										</ul>
									</li>
									<li><a href="">在线互动</a></li>
								</ul>
							</div>
						</div>
					</nav>
				</div>
			</div>

			<!-- 右下角回到顶部，暂时放在这里 -->
			<div class='col-md-1'>
				<div class='top'>
					<span class='glyphicon glyphicon-menu-up'></span>
				</div>
			</div>
		</div>
	</div>

</body>
</html>