.panel-register {
    background-color: #33383a;
    margin-top: 40px;
}

.panel-register input {
    background-color: #1a1c1e!important;
}


.panel-register .btn {
    background-color: #a88a58;
    border: none;
}

.panel-register .btn:hover {
    background-color: #cf302d;
    color: #fff;
}

.panel-register a {
    text-shadow: none;
    color: #333;
    transition: none;
}