<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>博文推荐</title>
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/bootstrap/css/bootstrap-submenu.min.css">
	<!-- 公共css文件 -->
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/base.css">
	<script type="text/javascript" src="__PUBLIC__/bootstrap/js/jquery.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/bootstrap/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/bootstrap/js/bootstrap-submenu.min.js"></script>
	<!-- scroll-top & submenu -->
	<script type="text/javascript" src="__PUBLIC__/js/base.js"></script>
</head>
<style>
			
        .mediaLeft{
        	width:64px!important!;
        	height:64px!important;
        }


</style>
<body>
	<nav>
		{:W('Navigation/nav')}
	</nav>

	<main class='main'>
		<div class='container'>
			<div clas='row'>
				<div class='col-md-12 page-title'>
					<h3>博文推荐</h3>
				</div>
			</div>

			<div class='row'>
				<div class='col-md-8'>
					<!-- 文峰视听门户网站经营理念 -->
					<div class='panel panel-bgcolor'>
						<div class='panel-heading sub-title'>
							<a class="base-a" href="{:U('blog_single')}">男友喜欢自己看A片解决性需求怎么办？</a> 
						</div>
						<div class='panel-body'>
							<div class="image-hover">
								<img src="__PUBLIC__/images/mein2.jpg" class='img-thumbnail new-media-img'>
								<a href="#" class="zoom-fadeIn img-fadeIn"></a>
								<a href="#" class="img-fadeIn"></a>
								<span class="img-cover"></span>
							</div>
							<div class='row blog-article'>
								<div class='col-xs-2 col-sm-1 col-md-1'>
									<a class="a-blog-enter col-xs-2 col-sm-1 col-md-1" href="{:U('blog_single')}">
										<span>20</span>
										<span class="blog-span-date">13</span>
										<span class="blog-span-common-nums">10</span>
									</a>
									
								</div>
								<div class='col-xs-10 col-sm-11 col-md-11'>
									<p><a href="#"><img src="__PUBLIC__/images/comment_icon.png"></a></p>
									<p><strong>网友求助：</strong></p>
									<p>&nbsp;&nbsp;  &nbsp;  &nbsp;&nbsp;&nbsp; 我和男友已恋爱了8个年头，彼此都是对方的初恋，打算明年结婚。可是现在有件事让我很纠结，有想放弃的念头：这两年我常发现他通过看片用手解决生理需求，有时我先睡觉了，他自己就这样。问他的话他就会不耐烦或发脾气，而且不承认自己有这样的行为；偶尔会听到他说对我不满，后来我很努力改变自己，但有些没法改变，比如我属于娇小偏瘦型的。现在我们之间的性生活很少，而且他需要在有视频的情况下进行，我很担心一个男人长期这样，他会出轨吗？ 他会在冬天用他的肚子温暖我冰冷的手脚，年年如此。面对这样一个男人，让我如何是好？如果没性我能承受，但是我不想看到那样的结局……                    		</p>
									<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 庞凤山回复：朋友你好，如果你的男友偶尔这样做，不是什么没问题，有科学认为，男性适度的自慰会有助于夫妻性生活的质量。问题是你男友如果长期如此，并淡漠了夫妻生活，这对于夫妻感情会造成一定伤害。毕竟你也是一个健康的女人，也是有需要的。</p>
									<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  &nbsp; 你们相恋8年，只是最近2年发现他出现这种情况，说明你们前些年是正常的。这可能和审美疲劳有关，男人是视觉动物，不喜欢自己的女友一成不变，是不是你的魅力有所下降呢，或者夫妻生活质量不高，逐渐令他产生了反感。</p>
									<p>&nbsp;&nbsp;  &nbsp;&nbsp;  &nbsp; 另外，他喜欢看那些成人AV对他的心理也有一定影响，这会促使他去追求刺激，并进行模仿，沉迷于色情影片中的女主角，慢慢对你不再感兴趣。他和你房事时，需要有视频的情况下进行，就说明他在依赖性幻想来完成你们的性生活，这样下去，肯定会让你反感，除非你能够接受。</p>
									<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 对于你担心他出轨，这个没必要，因为所有男人都可能面临出轨，而要避免你的男友移情别恋和出轨，唯一的办法就是提升你的魅力，把自己打扮的漂漂亮亮的，浑身上下散发女人味，学会温柔体贴，不要让自己变怨妇。如果还不行，那就只有各奔东西了。所以，不要为还没有发生的事情瞎操心，重要的是做好眼下。</p>
									<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 最后你说你能接受无性生活，希望你不要一时冲动说这种不负责任的气话，作为一个正常女人干嘛就不过性生活，这是你的权利啊，你还是要争取的。你们在一起这么多年，说没有感情是不可能的，况且他对你也很好，说明没有什么大原则问题。还是去好好沟通交流， 想办法提高性爱质量，一起学习性知识和性技巧，相信会慢慢改善的。 </p>
								</div>
							</div>
						</div>
					</div>

					<div class='panel panel-bgcolor'>
						<div class='panel-heading sub-title'>
							<a class="base-a" href="">12星座恋爱中最闪光之处</a> 
						</div>
						<div class='panel-body'>
							<div class="image-hover">
								<img src="__PUBLIC__/images/mein1.jpg" class='img-thumbnail new-media-img'>
								<a href="#" class="zoom-fadeIn img-fadeIn"></a>
								<a href="#" class="img-fadeIn"></a>
								<span class="img-cover"></span>
							</div>
							<div class='row blog-article'>
								<div class='col-xs-2 col-sm-1 col-md-1'>
									<a class="a-blog-enter col-xs-2 col-sm-1 col-md-1" href="#">
										<span>20</span>
										<span class="blog-span-date">13</span>
										<span class="blog-span-common-nums">10</span>
									</a>
									
								</div>
								<div class='col-xs-10 col-sm-11 col-md-11'>
									<p><a href="#"><img src="__PUBLIC__/images/comment_icon.png"></a></p>
									<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 一个人，再长得不好看，薪水不多，能力不强，不懂品味……他也有闪光的地方。这种闪光的地方，可能是自身的性格，可能是内心的纯净，可以是思维的开阔。十二星座们在恋爱的时候，也时不时会有闪光的时候，那么大家最闪光的地方在哪？<br>
										一、白羊座&天蝎座

										闪光点：<br>
										&nbsp;&nbsp;&nbsp;&nbsp;
										&nbsp; &nbsp; 敢爱敢恨
										恋爱中的白羊与天蝎，都是敢爱敢恨的人。他们的性格十分地直爽，爱了就是爱了，不会掺杂其他太多的杂质，爱得彻底。而当发生了导致恨意的事情，他们的恨意也是十分直截了当，不会像其他人那样，嘴上说一点儿也不恨，一点儿也不难过，实际上心里恨得要死。他们是恨也会从口中大方地说出来的。

										<br>
										二
										、金牛座&处女座

										闪光点：<br>
										&nbsp;
										&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 细心忠诚
										金牛座与处女座，两个人都有着土象的特质，诚实可靠，细心无比，同时金牛座的审美十分不错，而处女座的人对于生活的细节也是十分在意的。恋爱起来，这两个星座的人，对于伴侣虽然会有一些要求，但是绝对不会背叛，并且，他们的要求大多是对于伴侣有着提升作用。如果你想预测跟他的缘分，建议到玄佛大广场免费测试一下。

										<br>
										三、双子座&射手座

										闪光点：<br>
										&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
										&nbsp; 活泼开朗
										罗鸣老师认为，双子与射手座的人，都是比较活跃的星座。双子的灵活机灵，口才不错，射手的灵机应变，两个星座的人都热爱自由，喜欢热闹，朋友一大堆。所以在他们的生活中，时常充满了欢声笑语。在恋爱中，两个星座也因为性格活泼，能给恋人带来无与伦比的开心的生活。长期运气低迷的MM可以考虑用圣码改运，请参阅“罗鸣老师的预测空间”的相关文章“开运系列之六——圣码改运”。

										<br>
										四、巨蟹座&双鱼座

										闪光点：<br>
										&nbsp;
										&nbsp;&nbsp;&nbsp;&nbsp; 温和体贴
										水象星座都有着体贴的特点，尤其是巨蟹与双鱼，更是温柔类型的代表星座。在恋爱中，巨蟹与双鱼，对于恋人都会有着无微不至的关怀，温柔和气的态度，说话的声音都不舍得说重了，偶尔会有撒娇的行为，带给恋人的全是甜蜜温馨浪漫的感觉。这简直是他们恋爱中最为闪光的地方。<br>
										五、狮子座&摩羯座

										闪光点：<br>
										&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
										自信可靠
										罗鸣老师认为，狮子座的自信，是十分明显的，同时他们对于感情也很坦荡，喜欢就是喜欢，不喜欢的话一定不会暖昧着让人产生误解。摩羯座的人对于恋爱，也不喜欢花三花四，他们对于感谢是很可靠的，由于自身的脚踏实地，在恋爱中，拥有对于未来在一起的自信心，感情中也是蛮可靠的类型。

										<br>
										六、天秤座&水瓶座

										闪光点：<br>
										&nbsp;&nbsp;&nbsp;&nbsp;
										&nbsp;&nbsp; 优雅友善
									天秤座的优雅，在恋爱的时候，往往散着着一种无比亲和的吸引力。水瓶座也本来就是一个友善而且理智的星座，在恋爱的时候，水瓶们几乎很少会像神经病一样失控，他们对于人事都会顾得十分周到。这两个星座的人朋友遍天下，恋爱起来，也会对对方的朋友照顾周全，给人留下不错的印象。</p>
								</div>
							</div>
						</div>
					</div>

					<div class='row'>
						<div class='col-md-4'>
							<a href=""><button class='btn btn-primary'>进入文峰视听博客</button></a> 
						</div>
					</div>

					<nav aria-label='Page navigation'>
						<ul class='pagination'>
							<li>
								<a href="#" aria-label='Previous'>
									<span aria-hidden='true'>&laquo;</span>
								</a>
							</li>
							<li><a href="#">1</a></li>
							<li><a href="#">2</a></li>
							<li><a href="#">3</a></li>
							<li><a href="#">4</a></li>
							<li><a href="#">5</a></li>
							<li>
								<a href="#" aria-label='Next'>
									<span aria-hidden='true'>&raquo;</span>
								</a>
							</li>
						</ul>
					</nav>
				</div>

				<div class='col-md-4'>
					<div class='panel panel-bgcolor'>
						<div class='panel-heading sub-title'>
							请关注我们
						</div>
                       
						<div class="panel-body">
							<p>请点击下方的图标</p>
								{:W("FollowsIcon/icon")}
						</div>
					</div>

					<div class='panel panel-bgcolor'>
						<div class='panel-heading sub-title'>
							近期博文
						</div>
						<div class="panel-body">
							<div class='media'>
								<div class='media-left'>
									<a href="#">
										<img src="__PUBLIC__/images/boke.jpg" class='mediaLeft img-rounded'>
									</a>
								</div>
								<div class='media-body'>
									<a class="base-a" href="#">高二女孩一周戴5块表是贵养还是溺爱？</a>
								</div>
							</div>

							<div class='media'>
								<div class='media-left'>
									<a href="#">
										<img src="__PUBLIC__/images/boke.jpg" class='mediaLeft img-rounded'>
									</a>
								</div>
								<div class='media-body'>
									<a class="base-a" href="#">骗婚是上海男屌丝的唯一出路</a>
								</div>
							</div>

							<div class='media'>
								<div class='media-left'>
									<a href="#">
										<img src="__PUBLIC__/images/boke.jpg" class='mediaLeft img-rounded'>
									</a>
								</div>
								<div class='media-body'>
									<a class="base-a" href="#">让女人羞愤的性爱菜单：爱人这些要求变态吗</a>
								</div>
							</div>
						</div>
					</div>

					<div class='panel panel-bgcolor'>
						<div class='panel-heading sub-title'>
							中国知名博客网站
						</div>
						<div class="panel-body">
							<ul class="nav-right-list">
								<li><a class='a-wh-og' href="#">新浪博客</a></li>
								<li><a class='a-wh-og' href="#">blogcn</a></li>
								<li><a class='a-wh-og' href="#">中国博客网</a></li>
								<li><a class='a-wh-og' href="#">腾讯博客</a></li>
								<li><a class='a-wh-og' href="#">凤凰博客</a></li>
								<li><a class='a-wh-og' href="#">天涯博客</a></li>
							</ul>
						</div>
					</div>

					<div class='panel panel-bgcolor'>
						<div class='panel-heading sub-title'>
							博客公示栏
						</div>
						<div class='panel-body'>
							欢迎走进博客专栏
						</div>
					</div>
				</div>
				
				
			</div>
		</div>
	</main>

    <footer>
    	{:W('Footer/footer')}
    </footer>

</body>
<script>

</script>
</html>