<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>文峰视听购物推荐</title>
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/bootstrap/css/bootstrap-submenu.min.css">
	<!-- 公共css文件 -->
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/base.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/images-dropcaps.css">
	<script type="text/javascript" src="__PUBLIC__/bootstrap/js/jquery.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/bootstrap/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/bootstrap/js/bootstrap-submenu.min.js"></script>
	<!-- scroll-top & submenu -->
	<script type="text/javascript" src="__PUBLIC__/js/base.js"></script>
</head>
<style>
		
        
        .media{
        	border-bottom-color: orange;
        	border-bottom-style: solid; 
        	padding-bottom: 20px;
        	margin-bottom: 10px
        }
        

       

</style>
<body>
	<nav>
		{:W('Navigation/nav')}
	</nav>

	<main class='main'>
		<div class='container'>
			<div clas='row'>
				<div class='col-md-12 page-title'>
					<h3>购物推荐</h3>
				</div>
			</div>

			<div class='row'>
				<div class='col-md-2'>
					<!-- 文峰视听门户网站经营理念 -->
					<h4 class='panel-header-text'>购物网站</h4>
					<ul class='nav-left-list'>
						<li><a href="#">凡客诚品</a></li>
						<li><a href="#">国美在线</a></li>
						<li><a href="#">淘鞋网</a></li>
						<li><a href="#">乐峰网</a></li>
						<li><a href="#">苏宁易购</a></li>
						<li><a href="#">走秀网</a></li>
					</ul>
				</div>

				<div class='col-md-10'>

					    <div class='recommen-subTitle'>单品推荐</div>

					
						<div class='row goods-recommend'>
							<div class='col-md-5 recommend-img'>
								<a href="#">
									<img src="__PUBLIC__/images/pgdn.jpg" class='new-media-img img-rounded'>
								</a>
							</div>
							<div class='col-md-7'>
								<a class='recommend-title base-a' href="#" target="_blank">苹果电脑iMAC</a>
									<ul>
										<li>3.4GHz 四核心 Intel Core i5</li>
										<li>Turbo Boost 技術加速運行至 3.8GHz</li>
										<li>8GB 記憶體 (兩組 4GB)</li>
										<li>1TB 硬碟1</li>
										<li>NVIDIA GeForce GTX 775M 配備 2GB 視訊記憶體</li>
									</ul>
							</div>
						</div>
 
                        

                         
                  
						<div class='row goods-recommend'>
							
							<div class='col-md-7'>
								<a class='recommend-title base-a' href="#" target="_blank">SAMSUNG 三星 N9002 GALAXY Note3 3G手机</a>
									<ul>
										<li>3.4GHz 四核心 Intel Core i5</li>
										<li>Turbo Boost 技術加速運行至 3.8GHz</li>
										<li>8GB 記憶體 (兩組 4GB)</li>
										<li>1TB 硬碟1</li>
										<li>NVIDIA GeForce GTX 775M 配備 2GB 視訊記憶體</li>
									</ul>
							</div>
							<div class='col-md-5'>
								<a href="#">
										<img src="__PUBLIC__/images/snsj.jpg" class='img-rounded new-media-img'>
									</a>
							</div>
						</div>
					
                     

                     <div class='recommen-subTitle'>友情加盟</div>

                     <div class='panel panel-bgcolor'>
                     	<div class='panel-body'>
                     		<div class='col-md-4'>
                     			<a class='base-a' href="">1.麦林网</a>
                     		</div>
                     		<div class='col-md-4'>
                     			<a class='base-a' href="">2.当当网</a>
                     		</div>
                     		<div class='col-md-4'>
                     			<a class='base-a' href="">3.聚美优美</a>
                     		</div>
                     	</div>
                     </div>
				</div>
                    
					
				</div>
			</div>

				
			</div>
	</main>

    <footer>
    	{:W('Footer/footer')}
    </footer>

</body>
<script>

</script>
</html>