<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>文峰视听门户网站</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Bootstrap/css/bootstrap-submenu.min.css">
    <!-- 公共css -->
    <!-- <link rel="stylesheet" type="text/css" href="__PUBLIC__/CSS/base.css"> -->
    <!-- 自身css -->
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/CSS/Index1/index1.css">
	<script type="text/javascript" src="__PUBLIC__/BootStrap/js/jquery.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/BootStrap/js/bootStrap.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/Bootstrap/js/bootstrap-submenu.min.js"></script>
    <!-- scroll-top & submenu -->
    <script type="text/javascript" src="__PUBLIC__/JS/base.js"></script>
</head>
<style>

</style>
<body>
	<!-- 导航 和 右下角的回到顶部 -->
	<header>
		{:W('Navigation/nav1')}
	</header>
		
	<!-- 分割线 -->
	<div class="row">
		<div class="col-md-12">
			<!-- 分割线 -->
			<div class="sep">
				<div class="container c_sep">
					<img src="__PUBLIC__/images/sep_big.png">
				</div>
			</div>
		</div>
	</div>

	<!-- 轮播图  -->
	<div class="row">
		<div class="col-md-12">
			<!-- 轮播图  -->
			<div class="carousel">
				<div class="container c_carousel">
					<div class="carousel_panel">
						<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
							<!-- 圆点  -->
							<ol class="carousel-indicators">
							    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
							    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
							    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
							</ol>

							<!-- Wrapper for slides -->
							<div class="carousel-inner" role="listbox">
							    <div class="item active">
							      <img src="__PUBLIC__/images/w-si.jpg" alt="">
							      <div class="carousel-caption hidden-xs">
							      	<h2>文峰视听门户网站正式启动了</h2>
									<p>来本站体验学习、生活、购物之旅，发现生活，发现更多的创意，后续网络在线课堂也将会开启，本站同时也承接平面、视频、创意DIY、网页设计、广告等业务，期待更多平台的入驻 </p>
							      </div>
							    </div>
							    
								<div class="item">
									<img src="__PUBLIC__/images/w_ht.jpg" class='inner-img'>
									<div class='carousel-caption hidden-xs'>
										<h2>HTC One mini</h2>>
										<p>继旗年初舰级产品新HTC One登陆国内市场之后，新HTC One家族新成员——HTC One mini 601e联通版（以下简称HTC One mini）也于日前在国内上市发售。HTC One mini延续了新HTC One的时尚外观设计，而且硬件配置不俗。</p>
									</div>
								</div>

								<div class="item">
									<img src="__PUBLIC__/images/w-ip.jpg" class='inner-img'>
									<div class='carousel-caption hidden-xs'>
										<h2>苹果iphone 5C</h2>>
										<p>iPhone 5C是一款被媒体曝光的全新系列iPhone。iPhone5C采用聚碳酸酯塑料外壳，配备4英寸视网膜显示屏，搭载A6双核处理器，1GB内存，800万像素摄像头，机身比iPhone 5略厚，有白色、红色、绿色、蓝色和黄色五种配色可选。电信版iPhone5S和iPhone5C在中国市场首有白、红、蓝、绿、黄五色选择。</p>
									</div>
								</div>

							</div>
							
							<!-- 控制按钮 -->
							<a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
								<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
								<span class="sr-only">Previous</span>
							</a>
							<a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
							    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
							    <span class="sr-only">Next</span>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!--欢迎&关注 -->
	<div class="row">
		<div class="col-md-12">
			<!-- 欢迎&关注  -->
			<div class="welcome">
				<div class="container c_welcome">
					<div class="row">
						<div class="col-md-8">
							<div class="w_left">
								<h4>欢迎来到文峰视听</h4>
								<p>用创造演绎经典，用经典来诠释时尚，用时尚去追求完美，用完美期待永恒，创意，没有结束，只有开始...</p>
							</div>
						</div>
						<div class="col-md-1">
							<div class="w_sep pull-left">
								<img src="__PUBLIC__/images/sep_scoial_icons.png">
							</div>
						</div>
						<div class="col-md-3">
							<div class="w_right">
								<h4>关注我们</h4>
								<p>点击下方图标</p>
								{:W("FollowsIcon/icon")}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- 分割线 -->
	<div class="row">
		<div class="col-md-12">
			<div class="container">
				<img src="__PUBLIC__/images/sep_big.png">
			</div>
		</div>
	</div>

	<!-- 最新动态 -->
	<div class="row">
		<div class="col-md-12">
			<div class="imglist">
				<span>最新动态</span>
			</div>
		</div>
		<div class="container imgdiv">
			<div class="row">
				<div class="col-md-3">
					<div class='thumbnail'>
	                    <div class="image-hover">
	                        <img class="inner-img" src="__PUBLIC__/images/tmb.jpg">
	                        <a href="#" class="zoom-fadeIn img-fadeIn"></a>
	                        <a href="#" class="img-fadeIn"></a>
	                        <span class="img-cover"></span>
	                    </div>
	                </div>
	                <a class="img-title" href="#">
	                	<span>天猫双十一购物狂欢节活动筹备</span>
	                </a>
	                <img src="__PUBLIC__/images/sep_small.png">
				</div>
				<div class="col-md-3">
					<div class='thumbnail'>
	                    <div class="image-hover">
	                       <img class="inner-img" src="__PUBLIC__/images/lssjb.jpg">
	                       <a href="#" class="zoom-fadeIn img-fadeIn"></a>
	                       <a href="#" class="img-fadeIn"></a>
	                       <span class="img-cover"></span>
	                    </div>
	                </div>
	                <a class="img-title" href="#">
	                	低碳、绿色、节能
	                </a>
	                <img src="__PUBLIC__/images/sep_small.png">
				</div>
				<div class="col-md-3">
					<div class='thumbnail'>
	                    <div class="image-hover">
	                        <img class="inner-img" src="__PUBLIC__/images/ktzx520.jpg">
	                        <a href="#" class="zoom-fadeIn img-fadeIn"></a>
	                        <a href="#" class="img-fadeIn"></a>
	                        <span class="img-cover"></span>
	                    </div>
	                </div>
	                <a class="img-title" href="#">
	                	文峰视听在线课堂
	                </a>
	                <img src="__PUBLIC__/images/sep_small.png">
				</div>
				<div class="col-md-3">
					<div class='thumbnail'>
	                    <div class="image-hover">
		                    <img src="__PUBLIC__/images/lyqb.jpg" class="inner-img">
	                        <a href="#" class="zoom-fadeIn img-fadeIn"></a>
	                        <a href="#" class="img-fadeIn"></a>
	                        <span class="img-cover"></span>
	                    </div>
	                </div>
	                <a class="img-title" href="#">
	                	连衣裙+小西装 优雅又大方
	                </a>
	                <img src="__PUBLIC__/images/sep_small.png">
				</div>
			</div>
		</div>
	</div>

	<!-- 时尚生活 -->
	<div class="imgdiv">
		<!-- 分割线 -->
		<div class="row">
			<div class="col-md-12">
				<div class="container">
					<img src="__PUBLIC__/images/sep_big.png">
				</div>
			</div>
		</div>
		<!-- 时尚生活图片 -->
		<div class="row">
			<div class="col-md-12">
				<div class="imglist">
					<span>时尚生活推荐</span>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-md-3">
					<a class="img-title" href="">
						<span>东南亚最值得去的八大美丽海滩</span>
					</a>
					<p>
						马尔代夫双鱼岛（olhuveli）<br>
        				&nbsp; 泰国巴东海滩（PatongBeach）<br>
        				菲律宾长滩岛（Boracay）<br>
        				泰国 克雷登（Ko Kradan）<br>
        				泰国 查汶海滩<br>
        				印度尼西亚 金巴兰海滩<br>
        				印度尼西亚库塔海滩（Kuta）<br>
        				印度尼西亚 沙努尔海滩（Sanur ）<br>
        			</p>
				</div>
				<div class="col-md-3">
					<a class="img-title" href="">
						<span>名媛衣橱 五种潮流色彩的演绎</span>
					</a>
					<p>
        					沉静雅致的深蓝色在2013秋冬绝对是热门的潮流色彩，明星超模们早已经开始纷纷选择深蓝色的各种服装来彰显她们秋日的时髦主张。Miranda Kerr 的露肩长裙、Angelababy 的Masha Ma 礼服、Amanda Seyfried 的雪纺透视装……全部以深蓝色为首选，学习她们是怎样将深蓝色演绎出不同风貌的吧。
        			</p>
				</div>
				<div class="col-md-3">
					<a class="img-title" href="">
						<span>盘点最受男人宠爱的10类女人</span>
					</a>
        				<p>
        				世上的女人千千万万种，男人的口味也是各不相同。但是总有那么几种女性，无论在什么地方，都是男人们趋之若鹜的对象。她可能是可爱青春的，也可能是性感魅惑的，可能是温柔体贴的，也可能是放荡不羁的。总之，她让男人不自禁地想要去宠爱，深深地为她痴狂。
        				</p>
				</div>
				<div class="col-md-3">
					<a class="img-title" href="">
						<span>四款浪漫设计 卧室床头柔情蜜意</span>
					</a>
					<p>
        					.淡绿花卉点缀床头长物志家居欧式绿色细颈敞口刻棱玻璃花瓶 营造自然舒适卧室<br>
        					浅紫饰品搭配床头 体验浪漫柔情卧室<br>
        					品信西班牙卫士小号金色卧室台灯<br>
        					朱朱家园绿色系卡通韩国明星窗帘ST768<br>
        					典荘（DanBon)8515紫色带锁首饰盒<br>
        			</p>
				</div>
			</div>
		</div>
	</div>

	<!-- 公告栏和最新微博信息 -->
	<div class="container gg">
		<div class="row">
			<div class="col-md-6">
				<img src="__PUBLIC__/images/sep_medium_home.png">
				<!-- 公告 -->
				<div class="imglist">
					<span>公告</span>
				</div>
				<p>欢迎大家来到文峰视听，网站正在建设中，后续会有更多好的资源分享给大家，想与我们平台合作的可以与我们联系，敬候您的佳音~</p>
			</div>
			<div class="col-md-6">
				<img src="__PUBLIC__/images/sep_medium_home.png">
				<!-- 最新微博信息 -->
				<div class="imglist">
					<span>最新微博信息</span>
				</div>
				<div class="row">
					<div class="col-md-1">
						<img src="__PUBLIC__/images/xlwbicon.png">
					</div>
					<div class="col-md-11">
						<p>载入微博，了解更多微博动态</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<footer>
		<!-- 底部 -->
		{:W('Footer/footer')}
	</footer>

</body>

</html>