<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>海外购物</title>
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/bootstrap/css/bootstrap-submenu.min.css">
	<!-- 公共css文件 -->
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/base.css">
	<script type="text/javascript" src="__PUBLIC__/bootstrap/js/jquery.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/bootstrap/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/bootstrap/js/bootstrap-submenu.min.js"></script>
	<!-- scroll-top & submenu -->
	<script type="text/javascript" src="__PUBLIC__/js/base.js"></script>
</head>
<style>
			
</style>
<body>
	<nav>
		{:W('Navigation/nav')}
	</nav>

	<main class='main'>
		<div class='container'>
			<div clas='row'>
				<div class='col-md-12 page-title'>
					<h3>海外购物</h3>
				</div>
			</div>

			<div class='row'>
				<div class='col-md-2'>
					<!-- 文峰视听门户网站经营理念 -->
					<h4 class='panel-header-text'>购物网站</h4>
					<ul class='nav-left-list'>
						<li><a href="#">亚马逊Amazon</a></li>
						<li><a href="#">ebay</a></li>
						<li><a href="#"> 11号街</a></li>
						<li><a href="#">bestbuy </a></li>
						<li><a href="#">澳洲团购网</a></li>
						<li><a href="#">拉斐尔在线</a></li>
					</ul>
				</div>

				<div class='col-md-10'>
					<div class='panel panel-bgcolor'>
						<div class='panel-heading panel-header-text'>
							<h3><b>海外购物注意事项</b></h3>
						</div>
						<div class='panel-body'>

								<ul>
									<li>英语一定要好，如果看不太懂的话，最好在国内购买或找人代购，英语不是很熟练的话现在可以借助翻译软件</li>
									<li>办理中国或国外银行的&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; VISA、MASTER&nbsp;&nbsp; 国际信用卡。 </li>
									<li>国外购物网站都不接受西联汇款，就算在EBAY上少数卖家接WESTERN UNION 或银行转帐，其手续费很高，国内银行转出外汇规定不少，而且汇款对你风险较大</li>
									<li>虽然国外EBAY上专业卖家大部分信用比较好，但不排除骗子存在，去EBAY投诉处理时间长，不建议使用。</li>			
								</ul>

								<ul>
									<li>
										<h3 class='panel-header-text'>国外邮寄费用</h3>
									</li>
									<li>B2C 在国外网上购物非常普及，先谈B2C类的，象那些品牌的官方网站和专业网上销售网站，nike, adidas, gucci 等等都有online store这块可以网上选购。在选购之前，先到网站上关于SHIPPING部分，看是否提供国际邮寄业务，一般完善的购物网站都有国际邮寄业务，有供选择国家、地区的页面，你还要去那上面看看中国大陆是否在其国际邮寄国家范围内，因为中国大陆人士在国外网上购物的毕竟目前比例还小，不是每个网站都提供的。</li>
									<li>完善的大型网站都在你选择了国家/地区后，自动算出邮购费用的。有的会提供各种邮寄方式选择，UPS，USPS(美国邮政），FEDEX，费用不同。有些网站会登出说买入多少克免费邮寄的优惠，请不要被迷惑，这些只包括收货地址在其本国或部分地区的，国际的肯定不会免费邮寄的 </li>
									<li>不少网站都在邮寄费用之外收取一定的手续费,即handling fee (也有把其直接加入邮费中，统称S&H-shipping handling)，一般都在很不起眼的位置上小字登出，事先务必察看清楚，在最后网上支付前看清时候在INVOICE上有此1条，专业购物网站handling 都不低，USD9.99~15.99都属正常，特别是统收S&H的那种。折成人民币也是不小的数字</li>											
								</ul>

								<ul>
									<li>
										<h3 class='panel-header-text'>付款方式</h3>
									</li>
									<li>Ｂ２Ｃ　Ｃ２Ｃ 推荐国际信用卡支付，ＥＢＡＹ有ＰＡＹＰＡＬ</li>
									<li>能用中国ＰＡＹＰＡＬ的，卖家也支持ＰＡＹＰＡＬ的，建议都用 </li>
									<li>PAYPAL不问买家收费，而且即时到帐，比汇款也安全得多。有问题了，ＥＢＡＹ上申诉有据可查。</li>											
								</ul>

								<ol>
									
										<h3 class='panel-header-text'>禁邮物品</h3>
									
									<li>一般常识知道的禁运的，大家都知道，食品（部分密封包装的可以的），奶制品，肉类，军火，毒品，植物，动物等，其他我知道的，象液体类，喷雾类，电器（包括灯），手机，尺寸超过邮寄物品最大规定的，都没戏。买了寄过来，也不会到你手上。有部分小电器或手机可以邮寄，但也是肯定要交关税的。 </li>
									<li>推荐大家几个美国的专卖名牌打折的著名网站鞋子，衣服，体育用品，家用品有很多类产品和牌子可选，打折幅度也大，款也比较新，在美国国内很多人从上面买的。bluefly　有国际邮寄业务，但没看过到不到中国，应该是可以的。婴儿用品的也不错，推荐妈妈们看看。</li>
									<li>买LV,GUCCI, ＣＯＡＣＨ 等等大牌子，到这些品牌的合作online shopping site，从ＬＶ，ＧＵＣＣＩ等官方网上点他们的Ｅ－ＳＨＯＰＰＩＮＧ选项，连到的就是这个网站，所以可以放心购买。就算不直接买，也可以上去看看价格，算算那些在网上卖国外代购物品的实际差价是多少</li>		

								</ol>


							</div>
						</div>
					</div>
				</div>
			</div>
			
		</div>
	</main>

    <footer>
    	{:W('Footer/footer')}
    </footer>

</body>
<script>

</script>
</html>