<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>视频聚焦</title>
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Bootstrap/css/bootstrap-submenu.min.css">
	<!-- 公共css文件 -->
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/CSS/base.css">
	<script type="text/javascript" src="__PUBLIC__/BootStrap/js/jquery.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/BootStrap/js/bootStrap.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/Bootstrap/js/bootstrap-submenu.min.js"></script>
	<!-- scroll-top & submenu -->
	<script type="text/javascript" src="__PUBLIC__/JS/base.js"></script>
</head>
<style>
		
    

</style>
<body>
	<nav>
		{:W('Navigation/nav')}
	</nav>

	<main class='main'>
		<div class='container'>

          <div class='row'>
          	<div class='col-md-12 page-title'>
          		<h3>视频聚焦（构建中）</h3>
          	</div>
          </div>

			
				<div class='col-md-6 new-media'>
					<div class='col-md-7'>
						<div class="image-hover">
							<img src="__PUBLIC__/images/spjjs.jpg" class='img-rounded new-media-img'>
							<a href="#" class="zoom-fadeIn img-fadeIn"></a>
							<a href="#" class="img-fadeIn"></a>
							<span class="img-cover"></span>
						</div>
					</div>
					<div class='col-md-5'>
						<a class='base-a vedio-title' href="#">视频聚焦</a>
					</div>
				</div>

				<div class='col-md-6 new-media'>
					<div class='col-md-7'>
						<div class="image-hover">
							<img src="__PUBLIC__/images/spjjs.jpg" class='img-rounded new-media-img'>
							<a href="#" class="zoom-fadeIn img-fadeIn"></a>
							<a href="#" class="img-fadeIn"></a>
							<span class="img-cover"></span>
						</div>
					</div>
					<div class='col-md-5'>
						<a class='base-a vedio-title' href="#">视频聚焦</a>
					</div>
				</div>

			

			
				<div class='col-md-6 new-media'>
					<div class='col-md-7'>
						<div class="image-hover">
							<img src="__PUBLIC__/images/spjjs.jpg" class='img-rounded new-media-img'>
							<a href="#" class="zoom-fadeIn img-fadeIn"></a>
							<a href="#" class="img-fadeIn"></a>
							<span class="img-cover"></span>
						</div>
					</div>
					<div class='col-md-5'>
						<a class='base-a vedio-title' href="#">视频聚焦</a>
					</div>
				</div>

				<div class='col-md-6 new-media'>
					<div class='col-md-7'>
						<div class="image-hover">
							<img src="__PUBLIC__/images/spjjs.jpg" class='img-rounded new-media-img'>
							<a href="#" class="zoom-fadeIn img-fadeIn"></a>
							<a href="#" class="img-fadeIn"></a>
							<span class="img-cover"></span>
						</div>
					</div>
					<div class='col-md-5'>
						<a class='base-a vedio-title' href="#">视频聚焦</a>
					</div>
				</div>

			

		
				<div class='col-md-6 new-media'>
					<div class='col-md-7'>
						<div class="image-hover">
							<img src="__PUBLIC__/images/spjjs.jpg" class='img-rounded new-media-img'>
							<a href="#" class="zoom-fadeIn img-fadeIn"></a>
							<a href="#" class="img-fadeIn"></a>
							<span class="img-cover"></span>
						</div>
					</div>
					<div class='col-md-5'>
						<a class='base-a vedio-title' href="#">视频聚焦</a>
					</div>
				</div>

				<div class='col-md-6 new-media'>
					<div class='col-md-7'>
						<div class="image-hover">
							<img src="__PUBLIC__/images/spjjs.jpg" class='img-rounded new-media-img'>
							<a href="#" class="zoom-fadeIn img-fadeIn"></a>
							<a href="#" class="img-fadeIn"></a>
							<span class="img-cover"></span>
						</div>
					</div>
					<div class='col-md-5'>
						<a class='base-a vedio-title' href="#">视频聚焦</a>
					</div>
				</div>

			

				

				

			<div class='col-md-12'>
						<nav aria-label='Page navigation'>
							<ul class='pagination'>
								<li>
									<a href="#" aria-label='Previous'>
										<span aria-hidden='true'>&laquo;</span>
									</a>
								</li>
								<li><a href="#">1</a></li>
								<li><a href="#">2</a></li>
								<li><a href="#">3</a></li>
								<li><a href="#">4</a></li>
								<li><a href="#">5</a></li>
								<li>
									<a href="#" aria-label='Next'>
										<span aria-hidden='true'>&raquo;</span>
									</a>
								</li>
							</ul>
						</nav>
					</div>

			
				
			</div>
	</main>

    <footer>
    	{:W('Footer/footer')}
    </footer>

</body>
<script>

</script>
</html>