<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>文峰视听门户网站</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/bootstrap/css/bootstrap-submenu.min.css">
    <!-- 公共css -->
    <!-- <link rel="stylesheet" type="text/css" href="__PUBLIC__/CSS/base.css"> -->
    <!-- 自身css -->
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/index1/index1.css">
    <!-- 自身css -->
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/user/userInfo.css">
	<script type="text/javascript" src="__PUBLIC__/bootstrap/js/jquery.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/bootstrap/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/bootstrap/js/bootstrap-submenu.min.js"></script>
    <!-- scroll-top & submenu -->
    <script type="text/javascript" src="__PUBLIC__/js/base.js"></script>
    <!--表单验证  -->
    <script type="text/javascript" src="__PUBLIC__/js/validate/jquery.validate.js"></script>
    <!-- 自定义验证方法 -->
    <script type="text/javascript" src="__PUBLIC__/js/validate/additional.js"></script>
    <!-- 自身js -->
    <script type="text/javascript" src="__PUBLIC__/js/user/userPassword.js"></script>
   
</head>
<body>
	 <header>
	 	{:W("Navigation/nav1")}
	 </header>
    
	 <div class="container">

	 	  <div class="panel panel-userInfo">
	 	  	<div class="panel-headding">
	 	  		<h4>修改密码</h4>
	 	  	</div>
	 	  	<div class="panel-body">
	 	  		<form action="{:U('Home/User/User/changePassBySelf')}" class="form-horizontal passwordChangeForm" method="post">
	 	  			
	 	  			<div class="form-group">
	 	  				<label for="#userInfo_oldPassword" class="col-md-1 col-sm-2  control-label">原密码:</label>
	 	  				<div class="col-md-3 col-sm-5 ">
	 	  					<input type="password" class="form-control" name="oldPassword" id="userInfo_oldPassword" >
	 	  				</div>
	 	  			</div>

	 	  			<div class="form-group">
	 	  				<label for="#userInfo_newPassword" class="col-md-1 col-sm-2  control-label">新密码:</label>
	 	  				<div class="col-md-3 col-sm-5 ">
	 	  					<input type="password" class="form-control" name="newPassword" id="userInfo_newPassword" >
	 	  				</div>
	 	  			</div>

	 	  			<div class="form-group">
	 	  				<label for="#userInfo_newPasswordConfirm" class="col-md-1 col-sm-2  control-label">确认密码:</label>
	 	  				<div class="col-md-3 col-sm-5 ">
	 	  					<input type="password" class="form-control" name="newPasswordConfirm" id="userInfo_newPasswordConfirm" >
	 	  				</div>
	 	  			</div>
	 	  			
                    <button type="submit" class="btn btn-default col-md-offset-1 col-sm-offset-2">确定</button>&nbsp;&nbsp;&nbsp;
                    <a href="{:U('Home/User/User/userInfo')}" class="btn ">取消</a>

	 	  		</form>

	 	  	</div>
	 	  </div>
	 </div>

	 <footer>
	 	{:W("Footer/footer")}
	 </footer>
</body>

<script>
 	
</script>

</html>